<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>

<div th:fragment="BlogEdit">
    <h4>Edit blog</h4>

    <div class = "alert alert-warning" id="message"></div>

    <script>
        $(function () {
            $("#message").hide();

            $("#btnSave").click((function () {

                var form = document.getElementById("editForm");

                let blogName = $('#blogName').val();

                if (blogName === '')
                {
                    $("#message").text("Phải nhập tên sản phẩm");
                    $("#message").show();
                }
                else
                    form.submit();
            }))
        })
    </script>

    <div class="container">

        <h3>Blog Form</h3>
        <hr>

        <p class = "h4 mb-4">Edit Blog</p>

        <form action="#" th:action="@{/admin/blog/save}" th:object="${blog}" id="editForm" method="post" enctype="multipart/form-data">
            <!-- Add hidden form field to handle the update -->
            <input type="hidden" th:field="*{id}">

            <input type="text" id="blogName" th:field="*{blogName}" class="form-control mb-4 w-25"/>

            <span>Ảnh</span>
            <input type="file" name="imageFile" class="form-control mb-4 w-25" accept="image/*"/>

            <input type="text" th:field="*{description}" class="form-control mb-4 w-25"/>

            <select th:field="*{author}" class="form-control mb-4 w-25">
                <option th:each="tempauthor : ${authors}" th:value="${tempauthor.id}" th:text="${tempauthor.authorName}"></option>
            </select>

            <input type="text" th:field="*{content}" class="form-control mb-4 w-25" placeholder="Content"/>

            <button type="button" id="btnSave" class="btn btn-info col-2">Save</button>
        </form>

        <hr>
        <a th:href="@{/admin/blog}">Back to blog List</a>
    </div>

</div>
</body>
</html>